Source: ros-indigo-pyros
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-mock (>= 1.0.1), python-six (>= 1.5.2), ros-indigo-catkin (>= 0.6.18), ros-indigo-catkin-pip (>= 0.1.3), ros-indigo-pyros-config (>= 0.1.3), ros-indigo-pyros-test (>= 0.0.6), ros-indigo-pyros-utils (>= 0.1.2), ros-indigo-pyzmp (>= 0.0.14), ros-indigo-rosnode (>= 1.11.19), ros-indigo-rospy (>= 1.11.19), ros-indigo-rosservice (>= 1.11.19), ros-indigo-rostest (>= 1.11.19), ros-indigo-rostopic (>= 1.11.19), ros-indigo-rosunit (>= 1.11.12), ros-indigo-tblib (>= 0.1.0)
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-pyros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-six (>= 1.5.2), ros-indigo-pyros-config (>= 0.1.3), ros-indigo-pyros-utils (>= 0.1.2), ros-indigo-pyzmp (>= 0.0.14), ros-indigo-rospy (>= 1.11.19), ros-indigo-std-msgs (>= 0.5.10), ros-indigo-std-srvs (>= 1.11.2), ros-indigo-tblib (>= 0.1.0)
Description: Provides Python to ROS multiprocess API, useful for using ROS from different multiprocess environment (think webserver, celery, etc.) while keeping both isolated.
